####################
# System Files     #
####################
.buildpath
.project
.modgit
.modman
nbproject
.DS_Store
.sass-cache
.idea
atlassian-ide-plugin.xml

#########################################################
# Ignore all files                                      #
#########################################################
*.*
#lib
mage
js
vendor
var

#########################################################
# Add exceptions for module files                       #
# Anyway fill free to add any file if needed by command #
# git add -f path/to/your.file                          #
#########################################################
!app/code/community/OnePica/AvaTax/**
!app/design/adminhtml/default/default/layout/onepica/avatax.xml
!app/design/adminhtml/default/default/template/onepica/avatax/**
!app/design/frontend/base/default/layout/onepica/avatax.xml
!app/design/frontend/base/default/template/onepica/**
!app/etc/modules/OnePica_AvaTax.xml
!app/locale/de_DE/OnePica_AvaTax.csv
!app/locale/en_US/OnePica_AvaTax.csv
!app/locale/es_ES/OnePica_AvaTax.csv
!app/locale/fr_FR/OnePica_AvaTax.csv
!app/locale/nl_NL/OnePica_AvaTax.csv
!app/locale/pt_BR/OnePica_AvaTax.csv
!app/locale/zh_CN/OnePica_AvaTax.csv
lib/**
!lib/AvaTax/
!lib/AvaTax/**
!composer/onepica/*
!js/avatax/
!js/avatax/**
!app/code/community/OnePica/AvaTaxAr2/**
!app/etc/modules/OnePica_AvaTaxAr2.xml
!lib/AvaTaxRestV2/
!lib/AvaTaxRestV2/**
!app/design/adminhtml/default/default/layout/onepica/avataxar2.xml
!app/design/adminhtml/default/default/template/onepica/avataxar2/**
