/var/cache/**/*
/var/session/*
/var/log/*
/var/pear/*
/var/locks/*
/var/report/*
/var/import/*
/var/export/*
/var/tmp/*
/var/package/*
/var/full_page_cache/*
media/catalog/product/cache/**/*
media/js/*.js
media/css/*.css
media/*
errors/local.xml
app/etc/local.xml
nbproject
/.project
/downloader/cache.cfg
/downloader/connect.cfg
/.modgit/
/.buildpath
*.DS_Store
/var/resource_config.json